<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
		<title>Momin Khan Personal Website</title>
		<link rel="icon" type="image/png" href="favicon.png">
	</head>
	<body>
		<link href="//cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.1.1/css/bootstrap.min.css" rel="stylesheet">
		<link href="CanvasPixels/css/pixels.css" rel="stylesheet">
		<link href="css/main.css" rel="stylesheet">
		<script src="http://code.jquery.com/jquery-2.1.0.min.js"></script>
		<script src="//cdnjs.cloudflare.com/ajax/libs/underscore.js/1.6.0/underscore-min.js"></script>
		<script src="//cdnjs.cloudflare.com/ajax/libs/backbone.js/1.1.2/backbone-min.js"></script>
		<script src="//cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.1.1/js/bootstrap.min.js"></script>
		<script src="js/classes.js" type="text/javascript"></script>
		<script src="js/content.js" type="text/javascript"></script>
		<script src="js/main.js" type="text/javascript"></script>
		<script src="CanvasPixels/js/pixels.js"></script>
	</body>
	<!-- main page templates -->
	<script type="text/template" id="templateMainContentHeader">
		<canvas id="pixels" style="display: none;"></canvas>
		<div class="container">
			<div class="row">
				<div class="col-sm-10 header" data-pixel-colors='<%= colorString %>'>
					<div class="name">Momin Khan</div>
					<div class="subtitle"><%= subtitle %></div>
					<div class="socialButtons">
						<!-- Icons by Dan Leech http://www.iconarchive.com/show/simple-icons-by-danleech.1.html -->
						<a href="mailto:<%= secretAntiRobotEmail %>" target="_blank"><img src="img/gmail_512.png" title="<%= secretAntiRobotEmail %>" /></a>
						<a href="https://github.com/foolmoron" target="_blank"><img src="img/github_512.png" title="GitHub" /></a>
						<a href="http://linkedin.com/in/momink" target="_blank"><img src="img/linkedin_512.png" title="LinkedIn" /></a>
						<a href="https://twitter.com/foolmoron" target="_blank"><img src="img/twitter_512.png" title="Twitter" /></a>
						<a href="http://steamcommunity.com/id/foolmoron" target="_blank"><img src="img/steam_512.png" title="Steam" /></a>
					</div>
				</div>
			</div>
		</div>
	</script>
	<script type="text/template" id="templateMainContentWrapper">
		<div class="container">
			<div class="row" id="content">
			</div>
		</div>
	</script>
	<script type="text/template" id="templateMainContentFooter">
		<div data-pixel-colors='rgb(255, 255, 255)' style="height: 100px;"></div>
	</script>
	<!---->
	<!-- generic individual content templates -->
	<script type="text/template" id="templateContentShort">
		<div class="col-sm-10 content" data-pixel-colors='<%= colorString %>'>
			<div class="divider half" style="background-color:<%= colorString %>" />
			<a href="#<%= id %>"><div class="title"><%= title %></div></a>
			<div class="description"><%= description %></div>
			<div class="extra"><%= extraContent %></div>
			<div class="divider half" style="background-color:<%= colorString %>" />
		</div>
	</script>
	<script type="text/template" id="templateContentLong">
		<div class="col-sm-10 content" data-pixel-colors='<%= colorString %>'>
			<div class="divider half" style="background-color:<%= colorString %>" />
			<% if (bannerURL) { %>
				<img class="banner" src="<%= bannerURL%>" />
			<% } else { %>
				<div class="title"><%= title %></div>
			<% } %>
			<a href="#"><div class="back">Go Back</div></a>
			<div class="description"><%= description %></div>
			<div class="extra"><%= extraContent %></div>
			<div id="details"><%= detailsContent %></div>
			<div class="divider half" style="background-color:<%= colorString %>" />
		</div>
	</script>
	<script type="text/template" id="templateContentInvalid">
		<div class="col-sm-10 content" data-pixel-colors='rgb(255, 0, 0)'>
			<h2>The route <i><%= hash %></i> is not valid!</h2>
			<a href="#"><div class="back">Go Back</div></a>
		</div>
	</script>
	<!---->
	<!-- individual templates extras -->
	<script type="text/template" id="templateExtra-github">
		<br />
		<iframe src="https://githubbadge.appspot.com/foolmoron?s=1&a=0" 
			style="border: 0;height: 142px;width: 200px;overflow: hidden;" frameBorder="0"></iframe>
	</script>
	<script type="text/template" id="templateExtra-srrn1">
		<p><a href='http://www.srrngames.com/' target='_blank'><img src="img/srrn.png" /></a></p>
	</script>
	<script type="text/template" id="templateExtra-srrn2">
		<p><a href='http://www.srrngames.com/' target='_blank'><img src="img/srrn.png" /></a></p>
	</script>
	<script type="text/template" id="templateExtra-flappypuzzle">
		<iframe src="//itch.io/embed/2595?linkback=true" 
			width="552" height="167" frameborder="0"></iframe>
	</script>
	<script type="text/template" id="templateExtra-skylize">
		<iframe src="//itch.io/embed/4233?linkback=true" 
			width="552" height="167" frameborder="0"></iframe>
	</script>
	<script type="text/template" id="templateExtra-princesstina">
		<iframe src="//itch.io/embed/4365?linkback=true" 
			width="552" height="167" frameborder="0"></iframe>
	</script>
	<script type="text/template" id="templateExtra-cityquake">
		<p>
			<a href="http://www.newgrounds.com/portal/view/616600" title="Play City Quake on Newgrounds" target="_blank">
				<img src="img/cityquakeplaynow.png" style="max-height: 60px;">
			</a>
		</p>
	</script>
	<script type="text/template" id="templateExtra-retroverse">
		<p>
			<a href="http://www.desura.com/games/retroverse" title="Retroverse on Desura">
				<img src="http://button.desura.com/play/medium/games/23621.png" alt="Desura Digital Distribution" width="260" height="50" border="0">
			</a>
		</p>
		<p>
			<a href="http://www.desura.com/games/retroverse" title="View Retroverse on Desura" target="_blank">
				<img src="http://button.desura.com/rating/medium/games/23621.png" alt="Retroverse">
			</a>
		</p>
	</script>
	<!---->
	<!-- individual templates details -->
	<script type="text/template" id="templateDetails-github">
		<style>
			table {
				font-size: 1.25em;
				margin-bottom: 10px;
			}
			table td {
				vertical-align: middle;
				border-bottom: 2px solid;
			}
			table tr {
				height: 50px;
			}
			table tr:last-child > td {
				border-bottom: 0px;				
			}
		</style>

		<div style="font-size: 2em;">Interesting repos:</div>
		<table>
		    <colgroup>
		       <col span="1" style="width: 20%;">
		       <col span="1" style="width: 80%;">
		    </colgroup>
			<tr>
				<td><a href='https://github.com/foolmoron/Skylize' target='_blank'>Skylize</a></td>
			 	<td>Less than 400 lines of CoffeeScript! Includes a <a href='https://github.com/foolmoron/Skylize/blob/master/client.coffee#L118-128' target='_blank'>method</a> for converting arbitrarily long strings into short, shareable strings.</td>
			 </tr>
			 <tr>
			 	<td><a href='https://github.com/foolmoron/CanvasPixels' target='_blank'>Canvas Pixels</a></td>
			 	<td>The pixel effect on this website. Had to write a bunch of basic constructs for some reason (RGBA color, interpolation, etc.)<td>
			 </tr>
			 <tr>
			 	<td><a href='https://github.com/foolmoron/foolmoron.github.io' target='_blank'>foolmoron.github.io</a></td>
			 	<td>This very website! Experimenting with content-driven single-page websites using Backbone.<td>
			 </tr>
			 <tr>
			 	<td><a href='https://github.com/foolmoron/ggj14' target='_blank'>Princess Tina</a></td>
			 	<td>You can pretty easily make new levels for the game if you use an existing level as a base. Try it out if you enjoyed the game!<td>
			 </tr>
			 <tr>
			 	<td><a href='https://github.com/foolmoron/Retroverse' target='_blank'>Retroverse</a></td>
			 	<td>A total mess, but it has some gems buried in it, such as: a system for <a href='https://github.com/foolmoron/Retroverse/tree/master/Retroverse/Retroverse/History' target='_blank'>reversing time</a>, and a <a href='https://github.com/foolmoron/Retroverse/blob/master/Retroverse/Retroverse/Names.cs' target='_blank'>random name generator</a>.<td>
			 </tr>
		</table>
	</script>
	<script type="text/template" id="templateDetails-srrn1">
	</script>
	<script type="text/template" id="templateDetails-srrn2">
	</script>
	<script type="text/template" id="templateDetails-flappypuzzle">
	</script>
	<script type="text/template" id="templateDetails-skylize">
	</script>
	<script type="text/template" id="templateDetails-princesstina">
	</script>
	<script type="text/template" id="templateDetails-cityquake">
	</script>
	<script type="text/template" id="templateDetails-retroverse">
	</script>
	<!---->
</html>