---
layout: layout
---

<section id="about">
  <div class="container">
    <h3><a href="#words">Blog Posts!</a></h3>
    <h3><a href="#projects">Games / Projects!</a></h3>
    <h3>Check out my academic &amp; professional <a href="http://biomadeira.github.io/vitae">Resume</a>.</h3>
    <h3>Contact me at <a href="http://twitter.com/{{ site.twitter }}">@{{ site.twitter }}</a> or by <a href="mailto:{{ site.email }}">email</a>.</h3>
    {% include social.html %}
  </div>
</section>

<section id="words">
  <div class="container">
    <h2>Some words I've written</h2>
    {% include post-list.html post_list_limit=5 no_filter=true %}
    <h3 style="margin-top: -30px;"><a href="./words.html">More words...</a></h3>
  </div>
</section>

<section id="things">
  <div class="container">
    <h2>Some things I've done</h2>
    {% include project-grid.html project_grid_limit=46 small_items=true %}
    <h3 style="margin-top: 0px;"><a href="./things.html">More things...</a></h3>
  </div>
</section>

<!--
<section id="friends">
  <div class="container">
    <h2>Some of my talented friends</h2>
    <hr class="visible-xs hidden-sm" />
    {% for friend in site.friends %}
      <div class="row">
        <h3 class="col-sm-4 col-xs-12 text-right xs-centered"><a href="{{ friend.url }}" target="_blank">{{ friend.name }}</a></h3>
        <h4 class="col-sm-8 col-xs-12 text-left xs-centered">{{ friend.description }}</h4>
      </div>
      <hr class="visible-xs hidden-sm" />
    {% endfor %}
  </div>
</section>
-->