<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8">
		<title>Momin Khan Personal Website</title>
		<link rel="icon" type="image/png" href="favicon.png">
	</head>
	<body>
		<link href="//cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.1.1/css/bootstrap.min.css" rel="stylesheet">
		<link href="CanvasPixels/css/pixels.css" rel="stylesheet">
		<link href="css/main.css" rel="stylesheet">
		<script src="http://code.jquery.com/jquery-2.1.0.min.js"></script>
		<script src="//cdnjs.cloudflare.com/ajax/libs/underscore.js/1.6.0/underscore-min.js"></script>
		<script src="//cdnjs.cloudflare.com/ajax/libs/backbone.js/1.1.2/backbone-min.js"></script>
		<script src="//cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.1.1/js/bootstrap.min.js"></script>
		<script src="js/classes.js" type="text/javascript"></script>
		<script src="js/content.js" type="text/javascript"></script>
		<script src="js/main.js" type="text/javascript"></script>
		<script src="CanvasPixels/js/pixels.js"></script>
	</body>
	<!-- main page templates -->
	<script type="text/template" id="templateMainContentHeader">
		<canvas id="pixels" style="display: none;"></canvas>
		<div class="container">
			<div class="row">
				<div class="col-sm-10 header" data-pixel-colors='<%= colorString %>'>
					<div class="name">Momin Khan</div>
					<div class="subtitle"><%= subtitle %></div>
				</div>
			</div>
		</div>
	</script>
	<script type="text/template" id="templateMainContentWrapper">
		<div class="container">
			<div class="row" id="content">
			</div>
		</div>
	</script>
	<script type="text/template" id="templateMainContentFooter">
		<div data-pixel-colors='rgb(255, 255, 255)' style="height: 100px;"></div>
	</script>
	<!---->
	<!-- generic individual content templates -->
	<script type="text/template" id="templateContentShort">
		<div class="col-sm-10 content" data-pixel-colors='<%= colorString %>'>
			<div class="divider half" style="background-color:<%= colorString %>" />
			<a href="#<%= id %>"><div class="title"><%= title %></div></a>
			<div class="description"><%= description %></div>
			<div class="extra"><%= extraContent %></div>
			<div class="divider half" style="background-color:<%= colorString %>" />
		</div>
	</script>
	<script type="text/template" id="templateContentLong">
		<div class="col-sm-10 content" data-pixel-colors='<%= colorString %>'>
			<div class="divider half" style="background-color:<%= colorString %>" />
			<div class="title"><%= title %></div>
			<div class="description"><%= description %></div>
			<div class="extra"><%= extraContent %></div>
			<div id="details"><%= detailsContent %></div>
			<a href="#"><div class="back">Go Back</div></a>
			<div class="divider half" style="background-color:<%= colorString %>" />
		</div>
	</script>
	<script type="text/template" id="templateContentInvalid">
		<div class="col-sm-10 content" data-pixel-colors='rgb(255, 0, 0)'>
			<h2>The route <i><%= hash %></i> is not valid!</h2>
			<a href="#"><div class="back">Go Back</div></a>
		</div>
	</script>
	<!---->
	<!-- individual templates extras -->
	<script type="text/template" id="templateExtra-github">
		<iframe src="https://githubbadge.appspot.com/foolmoron?s=1&a=0" 
			style="border: 0;height: 142px;width: 200px;overflow: hidden;" frameBorder="0"></iframe>
	</script>
	<script type="text/template" id="templateExtra-flappypuzzle">
		<iframe src="//itch.io/embed/2595?linkback=true" 
			width="552" height="167" frameborder="0"></iframe>
	</script>
	<script type="text/template" id="templateExtra-princesstina">
		<iframe src="//itch.io/embed/4365?linkback=true" 
			width="552" height="167" frameborder="0"></iframe>
	</script>
	<script type="text/template" id="templateExtra-cityquake">
		<p>
			<a href="http://www.newgrounds.com/portal/view/616600" title="Play City Quake on Newgrounds" target="_blank">
				<img src="img/cityquakeplaynow.png" style="max-height: 60px;">
			</a>
		</p>
	</script>
	<script type="text/template" id="templateExtra-retroverse">
		<p>
			<a href="http://www.desura.com/games/retroverse" title="Retroverse on Desura">
				<img src="http://button.desura.com/play/medium/games/23621.png" alt="Desura Digital Distribution" width="260" height="50" border="0">
			</a>
		</p>
		<p>
			<a href="http://www.desura.com/games/retroverse" title="View Retroverse on Desura" target="_blank">
				<img src="http://button.desura.com/rating/medium/games/23621.png" alt="Retroverse">
			</a>
		</p>
	</script>
	<!---->
	<!-- individual templates details -->
	<script type="text/template" id="templateDetails-github">
	</script>
	<script type="text/template" id="templateDetails-flappypuzzle">
		<iframe src="//itch.io/embed/2595" 
			width="552" height="167" frameborder="0" />
	</script>
	<script type="text/template" id="templateDetails-princesstina">
		<iframe src="https://googledrive.com/host/0B-aR7C8zJuzoUE1RYmR3TVlQRVk/PrincessTina.html"
			width="920" height="620" frameborder="0" />
	</script>
	<!---->
</html>