<nav class="navbar navbar-default">
  <div class="container">
    <div class="navbar-header">
      <a class="navbar-brand" href="{{ site.baseurl }}"><i id="random-home-icon" class="fa fa-home" style="margin-right: 3px; vertical-align: bottom;"></i> Momin Khan</a>
      <script>
        (function() {
          var iconClasses = ['home','heart','gamepad','bolt','diamond','gear','btc','beer','rocket','magic','globe','cutlery'];
          document.getElementById('random-home-icon').className = 'fa fa-' + iconClasses[Math.floor(Math.random()*iconClasses.length)];
        })()
      </script>
    </div>
    <div id="navbar">
      <ul class="nav navbar-nav navbar-right">
        <li><a href="{{ site.baseurl }}words.html">WORDS</a></li>
        <li style="margin-top: 10px;">|</li>
        <li><a href="{{ site.baseurl }}things.html">THINGS</a></li>
        <li style="margin-top: 10px;">|</li>
        <li><a href="{{ site.baseurl }}resume.html">RESUME</a></li>
      </ul>
    </div>
    {% include social.html %}
  </div>
</nav>