<nav class="navbar navbar-default">
  <div class="container">
    <div class="navbar-header">
      <a class="navbar-brand shadow-text" href="{{ site.baseurl }}"><i id="random-home-icon" class="" style="margin-right: 3px; vertical-align: bottom;"></i> Momin Khan</a>
      <div class="visible-xs">{% include social.html %}</div>
      <script>
        (function() {
          var iconClasses = ['home','heart','gamepad','bolt','diamond','gear','btc','beer','rocket','magic','globe','cutlery'];
          document.getElementById('random-home-icon').className = 'fa fa-' + iconClasses[Math.floor(Math.random()*iconClasses.length)];
        })()
      </script>
    </div>
    <div id="navbar">
      <ul class="nav navbar-nav navbar-right">
        <li class="shadow-text"><a href="{{ site.baseurl }}words">WORDS</a></li>
        <li class="hidden-xs shadow-text" style="margin-top: 10px;">|</li>
        <li class="shadow-text"><a href="{{ site.baseurl }}things">THINGS</a></li>
        <li class="hidden-xs shadow-text" style="margin-top: 10px;">|</li>
        <li class="shadow-text"><a href="https://docs.google.com/document/d/108EfkRGzHusQ_7XDhnE-KBdy8EJB1w6-PkPNxsh5ss0/edit?usp=sharing" target="_blank">RESUME</a></li>
      </ul>
    </div>
    <div class="hidden-xs visible-sm visible-md visible-lg">{% include social.html %}</div>
  </div>
</nav>