<div class="social xs-right">
	<h4>
	  <a class="shadow-text" href="http://github.com/{{ site.github }}" target="_blank"><i class="fa fa-github"></i></a>
	  <a class="shadow-text" href="http://twitter.com/{{ site.twitter }}" target="_blank"><i class="fa fa-twitter"></i></a>
	  <a class="shadow-text" href="mailto:{{ site.email }}" target="_blank"><i class="fa fa-envelope"></i></a>
	  <a class="shadow-text" href="http://linkedin.com/in/{{ site.linkedin }}" target="_blank"><i class="fa fa-linkedin"></i></a>
	  <a class="shadow-text" href="http://steamcommunity.com/id/{{ site.steam }}" target="_blank"><i class="fa fa-steam"></i></a>
	</h4>
</div>