/* Hardcoded tag colors
-------------------------------------------------- */

.tag-Announcement { background-color: #FF4A4A; }
.tag-Game_Dev { background-color: #FF7D44; }
.tag-Web_Dev { background-color: #447DFF; }
.tag-Timmons_Group { background-color: #007755; }