.name {
	font-size: 3.5em;
}

.subtitle {
	font-size: 2em;
	font-style: italic;
	margin-top: -0.5em;
}

.title {
	font-size: 2.5em;
	display: inline-block;
}

.socialButtons {
	margin-bottom: 5px;
}
.socialButtons img {
	width: 32px;
	margin-right: 6px;
}

.description {
	font-size: 1.25em;
}

.banner {
	max-width: 100%;
	margin-top: 5px;
}

.back {
	font-size: 1.5em;
}

.divider {
	height: 0.7em;
	width: 100%;
	background-image: url('../img/gradient.png');
	background-repeat: repeat-y;
	background-size: 100%;
	background-color: #000;
	margin: 0;
}
.divider.half {
	height: 0.35em;
}

.role {
	margin-top: -8px;
}
.role > li {
	font-size: 1.2em;
}

.appstore-button {
	display:inline-block;
	width:203px;
	height:60px;
	overflow:hidden;
	background:url(../img/appstorebutton.png) no-repeat;
	background-size:cover;
	@media only screen {
		background-image:url(../img/appstorebutton.png);
	}
}
.android-button {
	display:inline-block;
	width:172px;
	height:60px;
	overflow:hidden;
	background:url(../img/androidbutton.png) no-repeat;
	background-size:cover;
	@media only screen {
		background-image:url(../img/androidbutton.png);
	}	
}

/* tables */
table {
	font-size: 1.25em;
	margin-bottom: 10px;
}
table td {
	vertical-align: middle;
	border-bottom: 2px solid;
}
table tr {
	height: 50px;
}
table tr:last-child > td {
	border-bottom: 0px;				
}

/* overwrite CanvasPixels css */
.content {
	height: auto;
}

canvas {
	z-index: 9999999;
}