---
layout: layout
---

<div class="container">
  <div class="blog-title">
    <h2 class="shadow-text">
      <strong><a href="{{ page.url }}">{{ page.title }}</a></strong>
    </h2>
  </div>
  <div class="panel panel-default shadow-div">
    <div class="panel-body">
      <h5 class="post-descriptor">
        {{ page.date | date: "%B %e, %Y" }} by {{ site.author }}
        &nbsp;&nbsp;
        {% for tag in page.tags %}
          <span class="label tag-{{ tag | replace:" ","_" }}"><a href="{{ site.baseurl }}words#{{ tag }}">{{ tag }}</a></span>
        {% endfor %}
      </h5>
      <hr>
      <div class="content">
        {{ content }}
        {% if site.related_posts %}
          <hr>
          <div class="related-posts">
            <h4>Other Posts</h4>
            {% for post in site.related_posts limit:3 %}
             <div class="row">
                <div class="col-sm-4 col-md-4 col-lg-4"><h6 style="text-align: right">
                  {{ post.date | date: "%B %e, %Y" }}</h6></div>
                <div class="col-sm-8 col-md-8 col-lg-8"><h6 style="text-align: left">
                  <strong><a href="{{ post.url }}">{{ post.title }}</a></strong></h6></div>
             </div>
           {% endfor %}
          </div>
        {% endif %}
      </div>
    </div>
  </div>
</div>
