---
layout: layout
---

<div class="container">
  <div class="blog-post">
    <h2>
      <strong><a href="{{ page.url }}">{{ page.title }}</a></strong>
    </h2>
    <img src="{{ site.baseurl }}static/img/{{ page.logo }}" style="max-width: 500px; max-height: 300px;" />
    <h4>
      Related posts: <a href="{{ site.baseurl }}words.html#{{ page.title }}"><span class="label tag-{{ page.title | replace:' ','_' }}" data-tag="{{ page.title }}">{{ page.title }}</span></a>
    </h4>
  </div>
  <div class="panel panel-default">
    <div class="panel-body">
      <h4>
        {{ content }}
        {% if site.related_posts %}
          <hr>
          <div class="related-posts">
            <h4>Related Posts</h4>
            {% for post in site.related_posts limit:3 %}
             <div class="row">
                <div class="col-sm-4 col-md-4 col-lg-4"><h6 style="text-align: right">
                  {{ post.date | date: "%B %e, %Y" }}</h6></div>
                <div class="col-sm-8 col-md-8 col-lg-8"><h6 style="text-align: left">
                  <strong><a href="={{ post.url }}">{{ post.title }}</a></strong></h6></div>
             </div>
           {% endfor %}
          </div>
        {% endif %}
      </h4>
    </div>
  </div>
</div>
