---
layout: layout
---

<div class="container">
  <div class="blog-post">
    <h2>
      <strong><a href="{{ page.url }}">{{ page.title }}</a></strong>
    </h2>
    <img src="{{ site.baseurl }}static/img/{{ page.logo }}" style="max-width: 500px; max-height: 300px;" />
    <h4>
      Related posts: <a href="{{ site.baseurl }}words.html#{{ page.title }}"><span class="label tag-{{ page.title | replace:' ','_' }}" data-tag="{{ page.title }}">{{ page.title }}</span></a>
    </h4>
  </div>
  <div class="panel panel-default">
    <div class="panel-body">
      <h4>
        {{ content }}
      </h4>
    </div>
  </div>
</div>
